* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
  }

  body {
    background-color: #332c50;
  }

  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin-top: 200px;

  }

  .button {
    background-color: #333766;
    width: 8rem;
    padding: 15px;
    margin: 10px;
    text-align: center;   
    cursor: pointer;
    
  }

  .blackText {
    color: black;
  }
  .whiteBG {
    background-color: #fff;
  }

  .mainText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 45px;
  }


  .imgSprites {
    background: url("IMAGEFILE") no-repeat;
  }

  .imgOne {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-position: 0px 0px;
    
  }
  .imgTwo {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-position: 200px 0px;
  }
  .imgThree {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-position: 400px 0px;
  }

/*   

  #1C1C1E
  #121212
  #2C3E50
  #292929
  #1D1D1D
  #111111
  #3B3B3B
 */
